/*************************************************
                 The Header
            **************************************************/
body {
  margin: 0;
  padding: 0;
}
#main,
#logo,
#menybar,
#section,
#middle,
#meny,
#middle-two,
.mid-content-inner,
.imgpos {
  margin-left: auto;
  margin-right: auto;
}
#header {
  height: 220px;
  border-bottom: 5px solid #0c6b71;
  background: #1d1d1d url(/assets/pat14.png) repeat;
}
* {
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

#logo {
  width: 880px;
  height: 129px;
  position: relative;
  padding: 7px;
}
#logobild {
  margin-left: 200px;
  position: absolute;
}
#logobild,
img {
}
#menybar {
  width: 895px;
  height: 90px;
}
#meny {
  width: 880px;
}
#meny ul {
  list-style-type: none;
  margin: 10px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
#meny ul li {
  display: inline-flex;
  margin: 14px;
  margin-top: 15px;
  margin-bottom: 4px;
  border-bottom: 1px solid #017a8d;
  margin-right: 25px;
}
#meny ul li a {
  text-decoration: none;
  font: 500 16px/40px 'Poppins', sans-serif;
  font-weight: 600;
  color: #474e5d;
}
#meny li a:link {
  color: #474e5d;
}
#meny li a:visited {
  color: #474e5d;
}
#meny li a:hover {
  color: #017a8d;
}

/*************************************************
                 The Middle part
            **************************************************/
#section {
  background-image: url(/assets/pat16.png);
  height: auto;
}
#middle-two {
  width: 880px;
  height: auto;
}
#mid-content-two {
  box-shadow: 0 0 30px #0d3557;
  background-color: #ffffff;
  height: auto;
  background-image: url(/assets/pat16.png);
  margin-top: -10px;
  margin-bottom: -9px;
  padding-bottom: 10px;
}
#mid-content-two h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  color: #515151;
  letter-spacing: 3px;
}
.mid-content-inner {
  border: 6px outset #017a8d;
  width: 800px;
  height: auto;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.4;
}
.mid-content-inner:hover {
  opacity: 1;
}
.imgpos {
  width: 300px;
}
.mid-content-inner {
  padding: 15px;
}
.mid-content-inner ol {
  padding-left: 20px;
}
.mid-content-inner ol li {
  padding-left: 10px;
  margin-bottom: 15px;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  line-height: 140%;
}
.mid-content-inner img {
  width: 300px;
}
.mid-content-inner h3 {
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 25px;
}
.mid-content-inner p {
  margin-bottom: 10px;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 500;
}
#power-link {
  text-decoration: none;
  color: #017a8d;
}
#power-link:visited {
  color: #017a8d;
}
#power-link:hover {
  text-decoration: underline;
  color: #e78f82;
}

/*************************************************
                 The footer
            **************************************************/
#footer {
  background: #212121;
}
#footer-content {
  height: 100px;
  width: 310px;
  margin-right: auto;
  margin-left: auto;
}
.SocialMedia-pic {
  display: inline;
  padding: 12px;
}
.SocialMedia-pic img {
  border-radius: 4px;
  height: 50px;
  width: 50px;
  margin-top: 10px;
}
.SocialMedia-pic img:hover {
  background-color: white;
}
#copyright {
  font-size: 20px;
  color: white;
  margin-top: 2px;
  text-align: center;
}
#footer p {
  font-family: Coronetscript, cursive;
  font-size: 15px;
}
#footer-shell {
  width: 880px;
  margin-right: auto;
  margin-left: auto;
}
